In [ ]:
cel=float(input("Celcius"))
fer=float(input("Fer"))
f=((9*cel)/5)+32
c=((5*fer)-160)//9
print(f)
print(c)

Celcius60
Fer45
140.0
7.0

In [ ]:
for row in range(7):
 for col in range(5):
   if (col==0) or (col==4 and (row!=0 and row!=6)) or ((row==0 or row==6) and (col>0 and col<4)):
     print('*',end='')
   else:
     print(end=' ')  
 print()

****
*   *
*   *
*   *
*   *
*   *
****

In [ ]:
for row in range(7):
  for col in range(5):
    if (col==0 or col==4) or ((row==0 or row==3 or row==6) and (col>0 and col<4)):
      print("*",end='')
    else:
      print(end=" ")
  print()

*****
*   *
*   *
*****
*   *
*   *
*****

In [ ]:
for row in range(7):
 for col in range(5):
   if col==0 or  (row ==0 or row==3 or row==6) and (col>0): 
     print('*',end='')
   else:
     print(end=' ')  
 print()

*****
*
*
*****
*
*
*****

In [ ]:
n=int(input("rows")) #rows=3
for row in range(0,n):  #0,1,2
    for column in range(0,n-row-1): #0 to 3-0-1=2 [1] ,0 to 1 [0]
        print(end="b")
    for rest_of_the_col in range(0,2*row+1): # 0 to 2*0+1 [0], 0 to 2*1+1=3 [2]
        print("*",end="")
    print()

rows5
bbbb*
bbb***
bb*****
b*******
*********

In [ ]:
n=int(input("rows")) 
for row in range(n):
    for col in range(row,n):
        print(" ",end="")
    for col in range(row):
        print("*",end="")
    for col in range(row+1):
        print("*",end="")
    print()

rows5
     *
    ***
   *****
  *******
 *********

In [ ]:
n=int(input("rows")) 
for row in range(n):
    for col in range(row+1):
        print(" ",end="")
    for col in range(row,n-1):
        print("*",end="")
    for col in range(row,n):
        print("*",end="")
    print()

rows5
 *********
  *******
   *****
    ***
     *

In [ ]:
n=int(input("rows")) #rows=3
for row in range(0,n):  #0,1,2
    for column in range(0,n-row-1): #0 to 3-0-1=2 [1] ,0 to 1 [0]
        print(end=" ")
    for rest_of_the_col in range(0,2*row+1): # 0 to 2*0+1 [0], 0 to 2*1+1=3 [2]
        rest_of_the_col=rest_of_the_col+1
        print(rest_of_the_col,end="")
    print()

rows5
    1
   123
  12345
 1234567
123456789

In [ ]:
#Write a Python program to check the validity of password input by users. Go to the editor
#Validation :

#At least 1 letter between [a-z] and 1 letter between [A-Z].
#At least 1 number between [0-9].
#At least 1 character from [$#@].
#Minimum length 6 characters.
#Maximum length 16 characters.
str=input()
list1=[]
list2=[]
list3=[]
list4=[]
for i in range(0,len(str)):
    if len(str)>=6 and len(str)<=16:
        if ord(str[i])in range(65,91):
            list1.append(str[i])
        elif ord(str[i]) in range(48,58):
            list2.append(str[i])
        elif ord(str[i]) in range(97,123):
            list3.append(str[i])
        elif ord(str[i]) in range(35,37) or ord(str[i])==64:
            list4.append(str[i])
if len(list4)>=1 and len(list1)>=1 and len(list2)>=1 and len(list2)>=1:    
    print("valid")
else:
    print("invalid")

gftyjyA5#
valid

In [ ]:
n=4
for col in range(1,n+1):
    for row in range(1,col+1):
        print(col,end='')
    print()

1
22
333
4444

In [ ]:
for row in range(8):
  for col in range(5):
    if (col==0 or col==4) or ((row == 0 or row == 3) and (col>0 and col<4)):
      print('*',end='')
    else:
      print(end=' ')
  print()

*****
*   *
*   *
*****
*   *
*   *
*   *
*   *

In [ ]:
#fibonacci number...task21(ungraded)=assignment2
num_1 = 0
num_2 = 1
num = 0

n=int(input("Enter the number : "))

print(num_1,num_2,end=" ")
while num_1+num_2<n :

    num = num_1 + num_2
    num_1,num_2 = num_2,num
    print(num,end=" ")

Enter the number : 5
0 1 1 2 3

In [ ]:
num=int(input())
for i in range(1,num+1):
    print(i*"*")
count=num-1
while count>0:
    print(count*"*")
    count-=1

5
*
**
***
****
*****
****
***
**
*

In [1]:
n=int(input(''))
for i in range(n):
  for j in range(i+1):
    print(j+1,end=' ')
  print()
for i in range(n):
  for j in range(i,n):
    print(j,end= ' ')
  print()

5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
0 1 2 3 4
1 2 3 4
2 3 4
3 4
4