# CSE110 Lab Assignment 6
This assignment is to guide you to solve everything you have learned so far by implementing functions in Python. 



Write your name, student id and CSE110 section below:

In [ ]:
#STUDENT NAME:Shihab Muhtasim
#STUDENT ID:21301610
#CSE110 SECTION:01

**<font color='red'>[MUST MAINTAIN VARIABLE NAMING CONVENTIONS FOR ALL THE TASKS]</font>**

## Write the Python code of the following problems:

### Task 1
Write a function called **even_checker** that takes a number as an argument and prints whether the number is even or odd **inside the function**.

===================================

**Example1:** \
**Function Call:**\
even_checker(5)\
**Output:**\
Odd!!

=============================

**Example2:** \
**Function Call:**\
even_checker(2)\
**Output:**\
Even!!

In [13]:
def even_checker(num):
    if num%2==0:
        print("Even!!")
    else:
        print("Odd!!")
even_checker(8)

Even!!

### Task 2
Write a python function that takes the limit as an argument of the Fibonacci series and prints till that limit. 

===================================

**Function Call:**\
fibonacci(10)\
**Output:**\
0 1 1 2 3 5 8\
======================\
**Function Call:**\
fibonacci(5)\
**Output:**\
0 1 1 2 3 5

In [25]:
def fibonacci(lim):
    sum_1=0
    sum_2=1
    sum=0
    i=0
    if lim==sum_1:              
        print(sum_1)
    elif lim==sum_2:
        print(sum_2)
    else:
        print(sum_1,sum_2,end=" ")
        while lim>=sum:
            sum=sum_1+sum_2
            if sum>lim:
                break
            sum_1=sum_2
            sum_2=sum
            print(sum,end=" ")
            
fibonacci(5)

0 1 1 2 3 5

### Task 3
Write a function called **foo_moo** that takes a number as an argument and **returns** the following statements according the below mentioned conditions. Then, finally prints the statement in the function call. 

* 	If the number is divisible by 2, it should return "Foo".
*   If the number is divisible by 3, it should return "Moo". 
*   If the number is divisible by both 2 and 3, it should return "FooMoo".
*   Otherwise, it returns "Boo".

===================================

**Example1:** \
**Function Call:**\
foo_moo(5)\
**Output:**\
Boo

=================


**Example2:** \
**Function Call:**\
foo_moo(4)\
**Output:**\
Foo

=================


**Example3:** \
**Function Call:**\
foo_moo(6)\
**Output:**\
FooMoo

In [8]:
def foo_moo(num):
    if num%2==0 and num%3==0:
        return('FooMoo')
    elif num%3==0:
        return('Moo')
    elif num%2==0 :
        return('Foo')
    else:
        return('Boo')
print(foo_moo(5))

Boo

### Task 4
Write a python function that takes a string as an argument. Your task is to calculate the number of uppercase letters and lowercase letters and print them in the function. 

===================================

**Function Call:**\
function_name('The quick Sand Man')\
**Output:**\
No. of Uppercase characters : 3\
No. of Lowercase Characters: 12\
============================\
**Function Call:**\
function_name('HaRRy PotteR')\
**Output:**\
No. of Uppercase characters : 5\
No. of Lowercase Characters: 6

In [17]:
def character_case_count(name):
    up_count=0
    low_count=0
    for elem in name:                            #recheck
        if ord('a')<=ord(elem)<=ord('z'):
            low_count+=1
        
        elif ord('A')<=ord(elem)<=ord('Z'):
            up_count+=1
    print('No. of Uppercase characters :',up_count)
    print('No. of Lowercase Characters:',low_count)
         
character_case_count('The quick Sand Man')

No. of Uppercase characters : 3
No. of Lowercase Characters: 12

### Task 5
Write a function called **calculate_tax** that takes 3 arguments: your age, salary, and current job designation.


Your first task is to take these arguments as user input and pass these values to the function.

Your second task is to implement the function and calculate the tax as the following conditions:
*  **NO TAX IF YOU ARE LESS THAN 18 YEARS OLD.**
*  **NO TAX IF YOU ARE THE PRESIDENT OF THE COMPANY** 
*  No tax if you get paid less than 10,000
*  5% tax if you get paid between 10K and 20K
*  10% tax if you get paid more than 20K


Finally return this tax value. Then print the returned value in the function call.

===================================

**Hints:**\
Here the job designation is a string, so it can be written in both uppercase and lower cases. So, you need to check the value ignoring the case.

===================================

**Example1:** \
**Input:**\
16\
20000\
Student\
**Function Call:**\
calculate_tax(16, 20000, 'Student')\
**Output:**\
0

===================================

**Example2:** \
**Input:**\
20\
18000\
assistant manager\
**Function Call:**\
calculate_tax(20, 18000, 'assistant manager')\
**Output:**\
900.0


===================================

**Example3:** \
**Input:**\
20\
22000\
assistant manager\
**Function Call:**\
calculate_tax(20, 22000, 'Assistant manager')\
**Output:**\
2200.0

===================================


**Example4:** \
**Input:**\
20\
122000\
president\
**Function Call:**\
calculate_tax(20, 122000, 'president')\
**Output:**\
0

In [26]:
def calculate_tax(age, salary, job):
    new_job=''
    for letter in job:
        if ord('A')<=ord(letter)<=ord('Z'):
            new_job+=chr(ord(letter)+32)
        else:
            new_job+=letter
    if age<18 or new_job=='president' or salary<10000:
        return (0)
    elif 10000<=salary<=20000:
        return(5*salary/100)
    elif salary>20000:
        return(10*salary/100)
print(calculate_tax(age=int(input("Please enter age:"))  , salary=int(input("Please enter salary:"))  , job=input("Please enter the current job designation:")))

Please enter age:20
Please enter salary:22000
Please enter the current job designation:assistant manager
2200.0

### Task 6
Write a function which will take 1 argument, number of days.

Your first task is to take the number of days as user input and pass the value to the function.
 
Your second task is to implement the function and calculate the total number of years, number of months, and the remaining number of days as output. No need to return any value, print inside the function. 

**Note:** Assume, each year to be 365 days and month to be 30 days.

=====================================================

**Hint(1):** \
Divide and mod the main input to get the desired output.

**Hint(2):**
This task’s calculation is similar to Assignment-1’s seconds to hours, minutes conversion.

=====================================================

**Example01**

**Input:**\
4330\
**Function Call:**\
function_name(4330)\
**Output:**\
11 years, 10 months and 15 days

================================

**Example02**

**Input:**\
2250\
**Function Call:**\
function_name(2250)\
**Output:**\
6 years, 2 months and 0 days

In [1]:
def time_count(days):
    year=days//365                 
    print(year,"years",end=", ")
    days=days%365
    month=days//30
    print(month,"months",end=" and ")
    days=days%30
    day=days//1
    print(day,"days")
value=int(input("Please enter total number of days:"))
time_count(value)

Please enter total number of days:2250
6 years, 2 months and 0 days

### Task 7
Write a function called **show_palindrome** that takes a number as an argument and then returns a palindrome string. Finally, prints the returned value in the function call.

=====================================================

**Example1:** \
**Function Call:**\
show_palindrome(5)\
**Output:**\
123454321

===================

**Example2:** \
**Function Call:**\
show_palindrome(3)\
**Output:**\
12321

In [27]:
def show_palindrome(num):
    new=''
    for i in range(1,num+1):
        new+=str(i)
    for i in range(num-1,0,-1):
        new+=str(i)
    return new
print(show_palindrome(5))

123454321

### Task 8
Write a function called **show_palindromic_triangle** that takes a number as an argument and prints a Palindromic Triangle in the function.

**<font color='blue'>[Must reuse the show_palindrome() function of the previous task]</font>**



=====================================================

**Hints(1):** \
Need to use both print() and print( , end = " ") functions


=====================================================

**Example1:** \
**Function Call:**\
show_palindromic_triangle(5)\
**Output:**

&emsp; &emsp; &emsp; &emsp; 1\
&emsp; &emsp; &emsp; 1 &nbsp; 2 &nbsp; 1 \
&emsp; &emsp; 1 &nbsp; 2 &nbsp; 3 &nbsp; 2 &nbsp; 1 \
&emsp; 1 &nbsp; 2 &nbsp; 3 &nbsp; 4 &nbsp; 3 &nbsp; 2 &nbsp; 1 \
1 &nbsp; 2 &nbsp; 3 &nbsp; 4 &nbsp; 5 &nbsp; 4 &nbsp; 3 &nbsp; 2 &nbsp; 1

=============================================================


**Example2:** \
**Function Call:**\
show_palindromic_triangle(3)\
**Output:**

&emsp; &emsp; 1 \
&emsp; 1 &nbsp; 2 &nbsp; 1 \
1 &nbsp; 2 &nbsp; 3 &nbsp; 2 &nbsp; 1

In [28]:
def show_palindromic_triangle(num):
    space=num-1
    for row in range(1,num+1,):               
        for s in range(space,0,-1):
            print(" ",end="")
        print(show_palindrome(row))
        space-=1
show_palindromic_triangle(num=5)

    1
   121
  12321
 1234321
123454321

### Task 09
Write a function called **area_circumference_generator** that takes a radius of a circle as a  function parameter and calculates its circumference and area. Then returns these two results as a **tuple** and prints the results using tuple unpacking in the function call accorrding to the given format. 

<font color='blue'>**[Must use tuple packing & unpacking]** </font>

=====================================================

**Example1:** \
**Function Call:**\
area_circumference_generator(1)\
**Output:**\
(3.141592653589793, 6.283185307179586)\
Area of the circle is 3.141592653589793 and circumference is 6.283185307179586

====================================

**Example2:** \
**Function Call:**\
area_circumference_generator(1.5)\
**Output:**\
(7.0685834705770345, 9.42477796076938)\
Area of the circle is 7.0685834705770345 and circumference is 9.42477796076938

====================================


**Example3:** \
**Function Call:**\
area_circumference_generator(2.5)\
**Output:**\
(19.634954084936208, 15.707963267948966)\
Area of the circle is 19.634954084936208 and circumference is 15.707963267948966

In [27]:
def area_circumference_generator(radius):
    import math
    circumference=2*math.pi*radius 
    area=math.pi*(radius**2)
    result=(area,circumference)
    return(result)
print(area_circumference_generator(radius=2.5))
area,circumference=area_circumference_generator(1.5)
print('Area of the circle is',area,'and circumference is',circumference)

(19.634954084936208, 15.707963267948966)
Area of the circle is 7.0685834705770345 and circumference is 9.42477796076938

### Task 10
Write a function called **make_square** that takes a tuple in the parameter as a range of numbers (starting point and ending point (included)). The function should **return a dictionary** with the numbers as keys and its squares as values.

=====================================================

**Hints:** \
You need to declare a dictionary to store the result. You should use the range function to run the “for loop”.


=====================================================

**Example1:** \
**Function Call:**\
make_square((1,3))\
**Output:**\
{1: 1, 2: 4, 3: 9}

====================================

**Example2:** \
**Function Call:**\
make_square((5,9))\
**Output:**\
{5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [4]:
def make_square(tup):
    start,end=tup
    square_val={}
    for num in range(start,end+1):
        square_val[num]=(num)**2
    return(square_val)
print(make_square((1,3)))

{1: 1, 2: 4, 3: 9}

### Task 11
Write a function called **rem_duplicate** that takes a tuple in the parameter and **return a tuple** removing all the duplicate values. Then print the returned tuple in the function call.

<font color='red'>**[Cannot use remove() or removed() for this task]** </font>

=====================================================

**Hints:** \
Unlike lists, tuples are immutable so, the tuple taken as an argument cannot be modified. But list can be modified and lastly for returning the result use type conversion. You need to use membership operators (in, not in) for preventing adding any duplicates values.

=====================================================


**Example1:** \
**Function Call:**\
rem_duplicate((1,1,1,2,3,4,5,6,6,6,6,4,0,0,0))\
**Output:**\
(1, 2, 3, 4, 5, 6, 0)

====================================

**Example2:** \
**Function Call:**\
rem_duplicate(("Hi", 1, 2, 3, 3, "Hi",'a', 'a', [1,2]))\
**Output:**\
('Hi', 1, 2, 3, 'a', [1, 2])

In [12]:
def rem_duplicate(tup):
    new=[]   
    for elem in tup:
        if elem not in new:
            new.append(elem)
        else:
            pass
    tup_ans=tuple(new)
    return tup_ans

print(rem_duplicate(("Hi", 1, 2, 3, 3, "Hi",'a', 'a', [1,2])))

('Hi', 1, 2, 3, 'a', [1, 2])

### Task 12
Write a python function that takes a list as an argument. Your task is to create a new list where **each element can be present at max 2 times**. Inside the function, print the number of elements removed from the given list. Finally, return the new list and print the result.

=====================================================

**Hint:** Use list_name.count(element) to count the total number of times an element is in a list. list_name is your new list for this problem.

=====================================================

**Function Call:**\
function_name([1, 2, 3, 3, 3, 3, 4, 5, 8, 8])\
**Output:**\
Removed: 2\
[1, 2, 3, 3, 4, 5, 8, 8]\
================================\
**Function Call:**\
function_name([10, 10, 15, 15, 20])\
**Output:**\
Removed: 0\
[10, 10, 15, 15, 20]

In [22]:
def list_elem_remover(list):
    new=[]
    count=0
    for elem in list:
        if list.count(elem)<=2:
            new.append(elem)
        else:
            if new.count(elem)<2:
                new.append(elem)
            else:
                count+=1
    print('Removed:',count)
    return new
print(list_elem_remover([1, 2, 3, 3, 3, 3, 4, 5, 8, 8]))

Removed: 2
[1, 2, 3, 3, 4, 5, 8, 8]

### Task 13
Write a python function that will perform the basic calculation (addition, subtraction, multiplication and division) based on 3 arguments. They are:
- Operator ('+', '-', '/', '*')
- First Operand (any number)
- Second Operand (any number)

Your first task is to take these arguments as user input and pass the values to the function parameters.

Your second task is to write a function and performs the calculation based on the given operator. Then, finally return the result in the function call and print the result.

=====================================================

**Input:**\
"+"\
10\
20\
**Function Call:**\
function_name("+", 10, 20)\
**Output:**\
30.0

================================

**Input:**\
"*"\
5.5\
2.5\
**Function Call:**\
function_name("*", 5.5, 2.5)\
**Output:**\
13.75

In [27]:
def calculator(sign,num_1,num_2):
    list=['+','-','*','/']
    flag=False
    for op in list:
        if sign in list:
            flag=True
            break
    if flag==False:
        return('Invalid Operator')
    else:
        if sign=='+':
            add= num_1+num_2
            return add                  
        elif sign=='-':
            substract= num_1-num_2
            return substract
        elif sign=='/':
            divide= num_1/num_2
            return divide
        elif sign=='*':
            multiply= num_1*num_2
            return multiply
operator = input('Please enter your operator :')   
first_operand = float(input('Please enter your first operand number:'))   
second_operand = float(input('Please enter your second operand number:'))   
print(calculator(operator, first_operand, second_operand))

Please enter your operator :*
Please enter your first operand number:5.5
Please enter your second operand number:2.5
13.75

### Task 14
Write a function which will take 2 arguments. They are:
- Sentence 
- position 

Your first task is to take these arguments as user input and pass these values to the function parameters.

Your second task is to implement the function and remove the characters at the index number which is divisible by the position (Avoid the index number 0 as it will always be divisible by the position, so no need to remove the index 0 character). 
Finally, add the removed characters at the end of the new string.

Return the value and then finally, print the new string at the function call.

<font color='red'>**[Cannot use remove() or removed() for this task]** </font>

=====================================================

**Input:**\
"I love programming."\
3\
**Function call:**\
function_name("I love programming.", 3)\
**Output:**\
I lveprgrmmngo oai.

==============================================

**Input:**\
"Python is easy to learn. I love python."\
6\
**Function call:**\
function_name("Python is easy to learn. I love python.", 6)\
**Output:**\
Pythonis eay to earn.I lov pythn. sl eo

In [23]:
def string_elem_remover(string,num):
    new=''
    removed=''
    for i in range(len(string)):
        if i==0:
            new+=string[i]
        elif i%num!=0:
            new+=string[i]
        else:
            removed+=string[i]
    new+=removed
    return new
            
Sentence=input('Please enter your Sentence :')
position= int(input('Please enter position :'))   
print(string_elem_remover(Sentence,position))

Please enter your Sentence :Python is easy to learn. I love python.
Please enter position :6
Pythonis eay to earn.I lov pythn. sl eo

### Task 15
You have been hired as an app developer for the company. The company plans to make an app for a grocery store where the user can order groceries and see the total amount to be paid in the cart section. 

To build this feature, you have to write a function that takes 2 arguments. They are:
- order_items (must be a list)
- location (default value should be set to "Dhanmondi")

Your first task is to take a list of items from the user. Pass the list into the function parameter along with the optional location (Use default argument technique). (Also, no need to take location as input, pass this any value you want.) 

Your second task is to implement the function. In the function, create a dictionary for the items shown in the table. Calculate the total price of the items passed as a list to the function. Additionally, add a delivery fee of 30 taka if the location is Dhanmondi. Otherwise, add a delivery fee of 70 taka. Finally, return the value and print it.

| Item | Price(Tk) |
| --- | --- |
| Rice | 105 |
| Potato | 20 |
| Chicken | 250 |
| Beef | 510 |
| Oil | 85 |

=====================================================

**Hint:** The keys are the items and values are the corresponding price. Iterate the items in the list and check if the items in the list are available in the dictionary keys or not. If it is available, add the price.

=====================================================

**Example1:**\
function_name(["Rice", "Beef", "Rice"], "Mohakhali")

total = 105 + 510 + 105 = 720 (Take the price of each item and add them.)\
total = 720 + 70 = 790 (Finally, add the delivery fee based on the location.)

**Input:**\
["Rice", "Beef", "Rice"]\
**Function Call:**\
function_name(["Rice", "Beef", "Rice"], "Mohakhali")\
**Output:**\
790

==============================================

**Example2:**

function_name(["Rice", "Beef", "Rice"])

total = 105 + 510 + 105 = 720 (Take the price of each item and add them.)\
total = 720 + 30 = 750 (Since no location is passed in the parameter, it will use the default location-"Dhanmondi". For dhanmondi, delivery fee of 30 taka)

**Input:**\
["Rice", "Beef", "Rice"]\
**Function Call:**\
function_name(["Rice", "Beef", "Rice"])\
**Output:**\
750

In [25]:
def shopping_cart_generator(order,location='Dhanmondi'):
    item_dict={'Rice':105,'Potato':20,'Chicken':250,'Beef':510,'Oil':85}
    count=0
    for key,val in item_dict.items():
        for item in order:
            if item==key:
                count+=val
    if location=='Dhanmondi':
        count+=30
    else:
        count+=70
            
    return(count)    

order_items=input('Enter your order items using a comma:').split(",")

print(shopping_cart_generator(order_items,'Mohakhali'))

Enter your order items using a comma:Rice,Beef,Rice
790

## Optional Tasks (16 -21) [Ungraded]

### Task 16
Write a function called **splitting_money** that takes an “amount” of money as a argument.

Your first task is to take the “amount” of money as user input and pass the value to the function paramater.
 
Your second task is to implement the function and calculate how that money can be split into 500, 100, 50, 20, 10, 5, 2, and 1 taka notes.

Then print the returned value in the function call.

=====================================================


**Hints:** \
This task’s calculation is similar to Assignment-1’s seconds to hours, minutes conversion. To return the result containing multiple strings, you need to store it in a variable and return it at the end of the function.

=====================================================


**Example1:** \
If the money is 1234, then the function should return 

"500 Taka: 2 note(s) \
100 Taka: 2 note(s) \
20 Taka: 1 note(s) \
10 Taka: 1 note(s) \
2 Taka: 2 note(s)"

=====================================================

**Example2:** \
If the money is 151, then the function should return

"100 Taka: 1 note(s)\
50 Taka: 1 note(s)\
1 Taka: 1 note(s)"

In [ ]:
#todo

### Task 17
Write a function called **remove_odd** that takes a list of numbers that have both even and odd numbers mixed. \
Your function should remove all the odd numbers and **return a compact list** which only contains the even numbers. 

<font color='red'>**[Cannot use remove() or removed() for this task]** </font>

=====================================================

**Example1:** \
**Function Call:**\
remove_odd ([21, 33, 44, 66, 11, 1, 88, 45, 10, 9])\
**Output:**\
[44, 66, 88, 10]

====================================

**Example2:** \
**Function Call:**\
remove_odd ([11,2,3,4,5,2,0,5,3])\
**Output:**\
[2, 4, 2, 0]

In [ ]:
#todo

### Task 18
Write a function which will take 4 arguments. They are:
- starting value(inclusive)
- ending value(exclusive)
- first divisor
- second divisor

Your first task is to take these arguments as user input and pass these values to the function.

Your second task is to implement the function and find all the numbers that are divisible by the <u> **first divisor or second divisor but not both**</u> from the starting value(inclusive) and ending value(exclusive). Add all the numbers that are divisible and finally return this value. Print the returned value in the function call.

=====================================================

**Input:**\
10\
40\
4\
7\
**Function Call:**\
function_name(10, 40, 4, 7)\
**Output:**\
210\
================================\
**Input:**\
5\
100\
3\
4\
**Function Call:**\
function_name(5, 100, 3, 4)\
**Output:**\
2012

In [ ]:
#todo

### Task 19
Write a python function which will take a string as an argument. 

Your first task is to take a string as user input and pass the value to the function.

Your second task is to implement a function which will check whether all the alphabets from a to j (convert all the alphabets to lowercase) has appeared at least once in the given string or not. 
- If all of these alphabets (a to j) appear at least once, then the result will be 5. 
- If any one of the alphabets (a to j) is not in the given string, then the result will be 6.

Return this result and print the statement, "PSG will win the Champions League this season" that many times.

=====================================================

**Example01:**
"A black jackal is hunting a full grown deer" 

Here all the alphabets from A to J are present at least once. So, the function will return 5 and will print the statement 5 times.

**Input:**\
"A black jackal is hunting a full grown deer"\
**Function Call:**\
function_name("A black jackal is hunting a full grown deer")\
**Output:**\
PSG will win the Champions League this season\
PSG will win the Champions League this season\
PSG will win the Champions League this season\
PSG will win the Champions League this season\
PSG will win the Champions League this season

==============================================

**Example02:**

**Input:**\
"ABBCDEFEFGHI"\
**Function Call:**\
function_name("ABBCDEFEFGHI")\
**Output:**\
PSG will win the Champions League this season\
PSG will win the Champions League this season\
PSG will win the Champions League this season\
PSG will win the Champions League this season\
PSG will win the Champions League this season\
PSG will win the Champions League this season

In [ ]:
#todo

### Task 20
Write a function called **individul_bonus_calculation** which will take 4 arguments. They are:

- The player name
- Yearly earning of that player
- The total goal scored this season by that player
- Bonus percent per goal.


Your task is to implement the above-mentioned function that will calculate the total bonus on the yearly earnings of a player for the total goals he had scored.

Additionally, 
 * If the goal scored is above 30, add a (additional) bonus of 10000 taka.
 * If it is between 20 and 30 inclusive, add an extra 5000 taka.

<font color='blue'>[ For this task, no need to take any input from the user. Call the functions and print the values inside the function. ] </font>



=====================================================

**Example1:**\
individul_bonus_calculation("Neymar", 1200000, 35, 5)

bonus = 35 * (5 / 100 * 1200000) + 10000 = 2110000

**Function call:**\
individul_bonus_calculation("Neymar", 1200000, 35, 5)\
**Output:**\
Neymar earned a bonus of  2110000 Taka for 35 goals.

=====================================================

**Example2:**\
individul_bonus_calculation('Jamal', 700000, 19, 8)

bonus = 19 * (8 / 100 * 700000) + 0 = 1064000

**Function call:**\
individul_bonus_calculation('Jamal', 700000, 19, 8)\
**Output:**\
Jamal earned a bonus of 1064000 Taka for 19 goals.

=====================================================

**Example3:**\
individul_bonus_calculation('Luis', 80000, 25, 10)

bonus = 25 * (10 / 100 * 80000) + 5000 = 205000

**Function call:**\
individul_bonus_calculation('Luis', 80000, 25, 10)\
**Output:**\
Luis earned a bonus of 205000 Taka for 25 goals.

=====================================================

### Task 21
You have been hired by the Abahani football club to write a function that will calculate the total bonus on the yearly earnings of each player for the total goals they have scored.

Since the number of players will vary, you decide to use the "*args" technique that you learned in your CSE110 class. 

For each player: pass the name, yearly earning, the total goal scored this season, bonus percent per goal. 

Additionally, 
 * If the goal scored is above 30, add an extra bonus of 10000 taka. 
 * If it is between 20 and 30 inclusive, add an extra 5000 taka.

<font color='blue'>[ For this task, no need to take any input from the user. Call the functions and print the values inside the function. ] </font>

**<font color='blue'>[Must reuse the individul_bonus_calculation() function of the previous task]</font>**


=====================================================

**Example1:**\
cal_bonus("Neymar", 1200000, 35, 5)

bonus = 35 * (5 / 100 * 1200000) + 10000 = 2110000

**Function call:**\
cal_bonus("Neymar", 1200000, 35, 5)\
**Output:**\
Neymar earned a bonus of  2110000 Taka for 35 goals.

=====================================================

**Example2:**\
**Function call:**\
function_name("Neymar", 1200000, 30, 10, "Jamal", 700000, 19, 5)\
**Output:**\
Neymar earned a bonus of 3605000 Taka for 30 goals.\
Jamal earned a bonus of 665000 Taka for 19 goals.


=====================================================

**Example3:**\
**Function call:**\
function_name("Neymar", 1200000, 35, 5, 'Jamal', 700000, 19, 8, 'Luis', 80000, 25, 10))\
**Output:**\
Neymar earned a bonus of 2110000 Taka for 35 goals.\
Jamal earned a bonus of 1064000 Taka for 19 goals.\
Luis earned a bonus of 205000 Taka for 25 goals.

In [ ]:
# to do